@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

body {
  background-color: #A3C6B5;
  font-family: 'Barlow', 'Arial', sans-serif;
}

h1 {
  font-family: 'Barlow', 'Arial', sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin: 0;
}

.header img{
  width: 150px;
  height: 150px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #7E3C35; 
  padding: 10px;
}

.navbar a {
  font-family: 'Barlow', 'Arial', sans-serif;
  color: black; 
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

.navbar a:hover {
  background-color: #c89e66; /* Add your desired hover background color */
}

h1 {
  padding: 15px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-text h2 {
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}

.home-text p {
  font-size: 1.3em;
}

.home-text {
  flex: 1;
  padding: 15px;
  margin-bottom: 200px;
  padding: 30px;
  text-align: center;
}

.home-image {
  max-width: 50%;
  justify-content: right;
}

.home-image img {
  max-width: 90%;
  height: auto;
  padding: 10px;
}
